<div class="container">
  <div class="main-header">
    <strong>Weather Forecast</strong>    
    <p class="close-btn" aria-label="Close">X</p>
  </div>
  <div class="main-contain">
    <div class="city"><strong>City</strong></div>
    <div class="row">
      <div class="col-md-12 dropdown">
        <select class="form-select dropdown-list minimal" [(ngModel)]="dropdownSelect">
          <option value="" disabled="disabled">--Select City--</option>
          <option *ngFor="let city of cityList">{{city}}</option>         
        </select>
      </div>
    </div>    
    <div class="row image" >
      <div class="column" *ngFor="let info of featchedData">
        <span class="day">{{info.valid_date | date:'EEEE'}}</span>
        <p class="date">{{info.valid_date | date:'MMM d'}}</p>        
        <img [src]="getIconUrl(info)" class="image_icon">
        <p class="temp">{{info.temp | number:'2.0-0'}}&#176;C</p>
      </div>     
    </div>
    <div class="apply-btn">
      <input class="btn btn-danger" type="submit" value="Apply" (click)="weathetResponseInfo()">
    </div>
  </div>

<router-outlet></router-outlet>
