.container{
    background-color: black;    
    padding-top: 19px;
    height: 35.4rem;
    margin-top: 20px;
    margin-left: 10rem;
    margin-right: 10rem;   
}
.close{
    border: none;
    background-color: white;
    font-size: 32px;
    float: right;
    
}
.main-header{
    font-size: 32px;
    color: white;
    margin-left: 4rem;
    padding-bottom: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;    
}
.close-btn{
    float: right;
    margin-top: auto;
    margin-right: 2rem;
}
.main-contain{
    background-color: white;
    margin-left: 9px;
    margin-right: 9px;    
    margin-bottom: -10px;
    height: 31rem;
}
.city{
    padding-left: 4rem;
    font-size: 28px;
    padding-top: 46px;;
    font-family: 'Open Sans', sans-serif;
    font-weight:600; 
}
.dropdown{
    margin-left: 63px;
    margin-top: 6px;
}
.dropdown-list{    
    width: 55rem;
    height: 62px;
    font-size: 28px;
    background-color: gainsboro;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.dropdown-list.select{
  padding-bottom: 1px
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 0px;
  }
  .btn-danger{
    margin-left: 46rem;
    border-block: none;
    border: none;
    font-size: 33px;   
    background-color: #cf262a;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .image{    
    margin-top: 29px;
    margin-left: 6rem;
  }
  .image_icon{
    margin-left: -25px;
    margin-top: -16px;
    }
  .temp{
    margin-left: 20px;
    position: relative;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }
  .date{
    margin-top: 2px;
    margin-left: 10px;
    font-size: 18Px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  .day{
    margin-left: 5px;
    font-size: 18Px;
    font-family: 'Open Sans', sans-serif;
  }
  select {

    background-color: #e6e6e6;

    display: inline-block;

    font: inherit;

    line-height: 1.5em;

    border:none;

    font-size: 28px;

    padding: 0.3em 3.5em 0.3em 0.4em;

    margin: 0;      

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    -webkit-appearance: none;

    -moz-appearance: none;

    width:100%;

}

select.minimal {

    background:no-repeat 99% url('../assets/icon/arrow.png') #e6e6e6;

    background-size: 27px;

}

select.minimal:focus {

    outline: 0;

}

select:-moz-focusring {

    color: transparent;

    text-shadow: 0 0 0 #000;

}